<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<description>
		Beans utilizados en la aplicacion a traves de Spring.
		Es
		utlizado por SpringUtils.java.
	</description>
	<!-- ORACLE -->
<!-- 	<bean autowire="default" class="org.springframework.jndi.JndiObjectFactoryBean" dependency-check="default" id="applicationDataSource" lazy-init="default"> -->
<!-- 		<property name="jndiName" value="java:comp/env/jdbc/scs"/> -->
<!-- 	</bean> -->
	
	<!-- MYSQL -->
	<bean autowire="default" class="org.springframework.jndi.JndiObjectFactoryBean" dependency-check="default" id="applicationDataSource" lazy-init="default">
		<property name="jndiName" value="java:comp/env/jdbc/mysql"/>
	</bean>
<!-- 	<bean autowire="default" class="org.springframework.jndi.JndiObjectFactoryBean" dependency-check="default" id="snoDataSource" lazy-init="default"> -->
<!-- 		<property name="jndiName" value="java:comp/env/jdbc/sno"/> -->
<!-- 	</bean> -->
	
	<bean id="applicationProperties" class="net.latin.server.persistence.LnwProperties">
		<property name="properties">
			<props>
				<prop key="ipSmtpMail">10.1.1.4</prop>
				<!-- Direcciones a las cuales se debe enviar mail, separadas por ; -->
				<prop key="mailsInconvenientesTo">axmf55@gmail.com</prop>
				<prop key="mailsInconvenientesCCO"> </prop>
				<prop key="mailSenderAddress">no-reply@pjn.gov.ar</prop>
				<prop key="mailSenderName">Sistema de la Comision de Seleccion</prop>
				<prop key="mailsErrores">ferjdiaz@gmail.com;andres.cirulo@gmail.com;axmf55@gmail.com</prop>
			</props>
		</property>
	</bean>

</beans>
