.checkbox-orange #checkbox.paper-checkbox{
	border-color: orange;
}

.checkbox-orange #checkbox.checked.paper-checkbox{
	background-color:orange;
	border-color:orange;
}
.checkbox-orange #ink[checked].paper-checkbox,.checkbox-orange #ink.paper-checkbox{
	color:orange;
}