
body{
	margin:0px !important;
	font-family: 'Roboto', 'Noto', sans-serif;
/* 	overflow-y:hidden; */
}
.GwtControllerPagesPanel{
	overflow-y:auto;
}

.page-style{
	text-align: left;
	background-color:#FCFCFC;
	padding: 10px;
}

#loadingPanel{
	position:fixed;
	background-color:rgba(0,0,0,0.5);
	color:white;
	text-align:center;
	vertical-align:middle;
	height:100%;
	width:100%;
	top:0px;
	bottom:0px;
	rigth:0px;
	left:0px;
	z-index:10000;
}

.form-main{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.form-titulo{
	background-color: #3377cc;
	color:white;
	padding:10px;
    font-size: 16px;
}
.form-buttons-panel{
	width: 100%;
}
.form-contenido{
	padding:10px;
}
.form-elements-panel{
	width: 100%;
}

.form-element-label-text{
    margin-top: 15px;
    padding: 5px;
	font-size: 16px;	
}
.form-subtitle{
	background-color: #3377cc;
	color:white;
	padding:5px;
    font-size: 14px;
    margin-top:15px;
}
.form-footer-label{
	font-size:9pt;
	padding-left:10px;
	color:cadetblue;
}
.dialog-toolbar{
	color:white;
	background-color: #3377cc;
	height: 36px; 
	line-height: 36px;
    margin-top: 0px !important;
}
.modal-popup-text{
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    font-size: 18px;
    padding-left: 10px;
}
.gwt-panel-titulo{
	position: absolute;
    top: -12px;
    line-height: 24px;
    font-size: 14px;
    left: 10px;
    background-color: white;
}
.confirm-imagen{
	width:75px;
	height:75px;
	color:#DDDD55;
}
.form-elements-panel td{
	padding:0px !important;
}
.gwt-CheckBox{
	padding:10px;
}
.gwt-CheckBox > label{
	color:black !important;
}
.lean-overlay{
	z-index:999 !important;
}
.window > .content td {
	padding:5px !important;
}

.gwt-RadioButton > label {
	color:black !important;
}